body{
    background-color: #df5f708f;
}
.full{
    margin-top: 100px;
    
    border-radius: 20px;
    color: white;
}
.main{
    background-color: rgba(255, 255, 255, 0.2);
    height: 200px;
    border-radius:  10px 10px 0 0;
}
.second{
    background-color: rgba(119, 115, 115, 0.363);
    padding-top: 10px;
    height: 300px;
    border-radius:  0 0 10px 10px;
    overflow-y: auto; 
    scrollbar-color: red orange;
    scrollbar-width: thin;
}
.image{
    width: 180px;
    height: 180px;
    margin-top: 12px;
    margin-left: 0px;
    border-radius: 10px;
}
h1,h2,h3,h4{
    font-weight: 0;
    size: 1px;
}
.butt{
    padding-top: 10px;
    margin: 5px;
    background-color: rgba(119, 115, 115, 0.363);
    border-radius:  10px;
}
.musik{
    padding: 0px;
}
.name{
    text-align: left;
}
.second::-webkit-scrollbar {
    width: 10px; /* A scrollbar szélessége */
}

.second::-webkit-scrollbar-thumb {
    background-color: #888; /* A scrollbar "hüvelykujja" színe */
    border-radius: 5px; /* A scrollbar "hüvelykujja" lekerekítése */
}

.second::-webkit-scrollbar-track {
    background-color: #f2f2f2; /* A scrollbar háttérszíne */
}


